{% extends "base.html" %}

{% block content %}
<div class="row px-5 justify-content-center">
    <div class="col-6">
        <table class="table">
            <thead>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Дата регистрации</th>
            </thead>
            <tbody>
            {% for user in user_info %}
                <tr>
                    <td scope="row">{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_reg }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
