:root {
    --color1: #ffffff;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav
{
    background-color: #000000;

}

.recently-watched{
    margin: 50px auto 50px;
}

.reg-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.reg-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-check {
    margin-top: 20px;
    margin-bottom: 20px;
}

.outline-col {
    border-style: double;
    border-width: 1px;
    border-color: #988999;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px black;
}

.user-profile-container {
    margin-top: 80px;
    background-color: #888888;
    border-color: #988999;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px black;
    height: 200px;
}

.row {
padding-left: 15px;
padding-right:15px;
}

.search-form {
margin-top: 10px;
}

.icon-profile:
{
width: 20px;
height: 20px;}

.profile-icon {
width: 40px;
height: 40px;
}
.nav-item {
margin-right: 20px;
}
.nav-link {
display: inline-block;
}

.ava-item {
margin-right: 20px;
}

.container-fluid {
margin-right: 15px;}

.card-style {
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
  }

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 150px; /* note i used vw not px for better responsive */
  height: 150px;
}

.custom-circle-image img {

  object-fit: cover;
}

.custom-circle-image-small {
  width: 30px; /* note i used vw not px for better responsive */
  height: 30px;
  display: inline-block;
}

.custom-circle-image-small img {
  object-fit: cover;
}

.tratata {
font-size: 80px;
color: green;
}

.simple-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}

.simple-rating::before {
    content: "★★★★★★★★★★";
    display: block;
}

.simple-rating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating-item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0%;
    visibility: hidden;
    top: 0;
    left 0;
}

.simple-rating-label {
    flex: 0 0 10%;
    height: 100%;
    cursor: pointer;
    color: #000;
}

.simple-rating-label::before {
    content: "★";
    display: block;
    transition: color 03.s ease 0s;
}

.simple-rating-item:checked,
.simple-rating-item:checked ~ .simple-rating-label {
    color: #FFB300;
}

.simple-rating-label:hover,
.simple-rating-label:hover ~ .simple-rating-label,
.simple-rating-label:checked ~ .simple-rating-label:hover {
    color: #FFB300;
}

.star-rating{
 font-size: 0;
}
.star-rating__wrap{
 display: inline-block;
 font-size: 1rem;
}
.star-rating__wrap:after{
 content: "";
 display: table;
 clear: both;
}
.star-rating__ico{
 float: right;
 padding-left: 2px;
 cursor: pointer;
 color: #FFB300;
}
.star-rating__ico:last-child{
 padding-left: 0;
}
.star-rating__input{
 display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
 content: "\f005";
}

/*body {
  text-align: center;
  color: #f5f5f5;
  background-image: linear-gradient(-90deg , #0c0c0d, #1a1a1a);
  font-family: 'Roboto';
}*/

.app {
  max-width: 300px;
  margin: 0 auto;
}

.app i {
  font-size: 80px;
}

article {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 5px;
  float: left;
  border: 2px solid #50bcf2;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5px;
  transition: .5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:checked ~ div {
  background-color: #50bcf2;
}

/*.upgrade-btn {
  display: block;
  margin: 30px auto;
  width: 200px;
  padding: 10px 20px;
  border: 2px solid #50bcf2;
  border-radius: 50px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}*/

.upgrade-btn:hover {
  background-color: #50bcf2;
}

.blue-color {
  color: #50bcf2;
}

.gray-color {
  color: #555;
}

.social i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin: 0%;
    width: 100%;
  }
}

.btn-off{
    background-color: #DC3545;
    color: #FFFFFF;
}

.btn-off: focus{
    color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-label:focus{
    background-color: #198754;
}
.btn-off:checked ~ label{
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-on:checked ~ label{
    color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.main-container{
    position: relative;
    width: 220px;
    height: 330px;
    display: inline-block;
    margin: 15px;

}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: yellow;
    color: #333;
    border-radius: 8px;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 35%;
    padding-left: 20px;
    padding-right: 20px;
    backface-visibility: hidden;
    background-color: #444B54;
    color: #EDF4FA;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.my-nav{
    margin-left: 50%;
    margin-right: 50%;
}


.red-circle{
    background: #745ec5;
    border: 5px solid #e3dff3;
    position: relative;
    float: left;
    color: #fff;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    font-size: 24px;
    margin-right: 30px;
}

.block {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 30px;
}